
{% if user_type == 'user' %}
    {% include "user_navigation.html" %}

 {% elif user_type == 'recruiter' %}
    {% include "recruiter_navigation.html" %} 

{% else %}
    {% include "admin_navigation.html" %} 
 {% endif %}

{% block content %}

 {{user_type}}

 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h1 class="mb-4 text-center">Change Password</h1>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="current_password">Current Password:</label>
                        <input type="password" class="form-control" id="current_password" name="current_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_new_password">Confirm New Password:</label>
                        <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>






{% comment %} <div class="card login-container my-4">
    <div class="card-body">
      <h5 class="card-title">Change Password </h5>
      <div class="card-text">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="current_password">Current Password:</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    </div>
</div> {% endcomment %}



{% endblock  %}

