{% extends "recruiter_navigation.html" %}


{% block content %}



<!-- welcome to recruiter_home {{user.username}} home page -->


<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="text-center mt-3">Recruiter Profile</h2>
                <form class="mt-5" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="fname" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="fname" name="first_name" value="{{ request.user.first_name }}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" id="lname" name="last_name" value="{{ request.user.last_name }}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="contact" class="form-label">Contact:</label>
                            <input type="text" class="form-control" id="contact" name="contact" value="{{ recruiter.mobile }}"  required>
                        </div>
                        <div class="col-md-6">
                            <label for="company" class="form-label">Company:</label>
                            <input type="text" class="form-control" id="company" name="company" value="{{ recruiter.company }}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Gender:</label>
                            <select class="form-select" name="gender" required>
                                <option value="" selected>Select Gender</option>
                                <option value="M" {% if recruiter.gender == "M" %} selected {% endif %}>Male</option>
                                <option value="F" {% if recruiter.gender == "F" %} selected {% endif %}>Female</option>
                                <option value="O" {% if recruiter.gender == "O" %} selected {% endif %}>Other</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ request.user.username }}" readonly required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Company Logo:</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>      
            </div>
            <div class="col-sm-4 mt-5 text-center">
                {% if recruiter.image %}
                <img class="p-3 m-5" src="{{ recruiter.image.url }}" alt="Recruiter Image" width="300px" height="260px"> 
                {% else %}
                <p>No image available</p>
                {% endif %}
            </div>
        </div>
        
    </div>








{% endblock  %}